# Dati
train.csv
valid.csv
test.csv

# Immagini generate
pantelleria_boy.png
testGenerated.png

# Cartelle generate
mini_dataset/
real_vs_fake/

# === Python: bytecode, ambienti virtuali ===
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual envs
.venv/
venv/
env/

# === Log e temporanei ===
*.log
*.tmp
*.bak

# === IDE e sistema operativo ===
# PyCharm / JetBrains
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini